.blog-info
  %span.author-info
    By
    = blog.author
    \|
    = blog.created_at.strftime("%B %d, %Y") 
     
    
  = raw blog.tags.map(&:name).map { |t| link_to t, tag_path(t), class: 'button tiny radius'}.join('')

  - if is_admin
    = link_to 'edit', edit_blog_path(blog), class: 'button tiny alert radius'
    = link_to 'Delete', blog, class: 'button tiny alert radius', method: :delete, data: {confirm: 'Are you sure?'}