.row
  .small-12.columns
    %p  
      for admins... 

    - if current_user
      = link_to 'Log out', logout_path, class: 'tiny button'
    - else
      = link_to 'Login with google', login_path, class: 'tiny button'
     
    - if is_admin
      = link_to 'new blog', new_blog_path, class: 'button tiny'
      = link_to 'new project', new_project_path, class: 'button tiny'
      %p
        = link_to 'Mark down cheat sheet', 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet', target: "_blank"

- if is_admin
  .admin-project-list
    %ul
      %li
        .row
          .small-8.columns
            %h3= link_to 'Projects', projects_path
      - @projects.each do |project|
        %li
          .row
            .small-8.columns
              = link_to project.title, project
            .small-2.columns
              = link_to 'edit', edit_project_path(project), class: 'button tiny alert radius'

            .small-2.columns
              = link_to 'Delete', project, class: 'button tiny alert radius', method: :delete, data: {confirm: 'Are you sure?'}