%nav.main-nav-wrapper
  .row
    .small-12.columns
      .main-nav
        %h2.mobile-logo= link_to 'OMI', root_path
        %h2.desktop-logo= link_to 'Open Minded Innovations', root_path
        %ul
          %li
            = link_to 'About', about_path
          %li
            = link_to 'Blog', blogs_path
          %li
            = link_to 'Projects', projects_path

  .secondary-nav
    .row
      .small-12.columns
        %h2.secondary-message We are a collaborative network of aspiring developers, entrepreneurs, and mentors.
        = link_to 'Join our Slack group', 'http://join.openmindedinnovations.com', class: 'secondary-button'