!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Open Minded Innovations"
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700|Merriweather:400,700,900", rel: "stylesheet", type: "text/css"}
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel: "stylesheet"}

    %script{:async => "", "data-sumo-site-id" => "76d444f3db5d1e2a0a5e261f3cc823bb82aced34481e9e7bc9cdb64165c8aa0f", :src => "//load.sumome.com/"}

    = analytics_init if Rails.env.production?

    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags

  = render 'layouts/header'
  %body{:class => body_classes}
    .row
      .small-12.columns
        = yield
    = javascript_include_tag "application"