!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    / %title= content_for?(:title) ? yield(:title) : "Open Minded Innovations"
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700|Merriweather:400,700,900", rel: "stylesheet", type: "text/css"}
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel: "stylesheet"}

    %script{:async => "", "data-sumo-site-id" => "76d444f3db5d1e2a0a5e261f3cc823bb82aced34481e9e7bc9cdb64165c8aa0f", :src => "//load.sumome.com/"}

    %link{:href => "/apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}
    %link{:href => "/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
    %link{:href => "/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}
    %link{:href => "/apple-touch-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}
    %link{:href => "/apple-touch-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
    %link{:href => "/apple-touch-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
    %link{:href => "/apple-touch-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
    %link{:href => "/apple-touch-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}
    %link{:href => "/favicon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}
    %link{:href => "/favicon-160x160.png", :rel => "icon", :sizes => "160x160", :type => "image/png"}
    %link{:href => "/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
    %meta{:content => "#da532c", :name => "msapplication-TileColor"}
    %meta{:content => "/mstile-144x144.png", :name => "msapplication-TileImage"}

    = display_meta_tags site: 'Open Minded Innovations', reverse: true, description: "Open Minded Innovations is an organization dedicated to helping everyone live a happy and fulfilling life. We believe that people thrive when they are given oppurtunities to apply themselves. Technology is our medium for change and we strongly support Open Source and education.", keywords: %w[technology screencasts development organization community tutorials education open source projects products business entrepeneurship code]

    = analytics_init if Rails.env.production?

    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags

  = render 'layouts/header'
  %body{:class => body_classes}
    .row
      .small-12.columns
        = yield
    = javascript_include_tag "application"